body{

    background-image: url(pics/2548747.jpg);
    background-size: cover ;
    background-repeat: none;


}

.Container {

    animation: transin 0.70s;


}


@keyframes transin{

    from {

        opacity: 0;
        transform: rotateX(-10deg);

    }

    to {

        
        opacity: 1;
        transform: rotateX(0);


    }

}